<%- include('templates/header') -%>



    <div class="container-fluid">

        <div class="row">
            <div class="col-md-6">

                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item active"><a href="/">Home</a></li>
                    </ol>
                </nav>

            </div>

        </div>


        <div class="row">
            <div class="col-md-7">
                <table class="table table-striped text-center table-hover">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Name</th>
                            <th scope="col">Status</th>
                            <th scope="col">Actions</th>
                        </tr>
                    </thead>
                    <tbody>

                        <% for (let i = 0; i < data.length; i++) { %>

                            <tr>
                                <td>
                                    <%= i + 1 %>
                                </td>
                                <td>
                                    <%= data[i].name %>
                                </td>
                                <td>
                                    <%= data[i].status_name %>
                                </td>
                                <td>
                                    <div class="btn-group btn-group-sm" role="group">
                                        <button type="button" class="btn btn-success"><i class="fas fa-plus-circle"></i></button>
                                        <button type="button" class="btn btn-warning"><i class="fas fa-edit"></i></button>
                                        <button type="button" onclick="btnEliminar('<%= data[i].idList %>')" class="btn btn-danger"><i class="fas fa-trash-alt"></i></button>
                                    </div>
                                </td>
                            </tr>

                            <% } %>


                    </tbody>
                </table>
            </div>


            <div class="col-md-5">
                <div class="alert alert-success">
                    <h5 class="mb-0">ADD NEW TASK</h5>
                </div>
                <div class="card bg-secondary">
                    <div class="card-body">
                        <div class="container">

                            <div class="row col-md-12">

                                <div class="form-group">
                                    <form action="/save" method="POST">
                                        <div class="form-floating mb-3">
                                            <input type="text" class="form-control" name="addName" placeholder="Name" required>
                                            <label>Name</label>
                                        </div>
                                        <div class="form-floating">
                                            <textarea class="form-control" name="addDescription" placeholder="Description" style="height: 10em;" required></textarea>
                                            <label>Description</label>
                                        </div><br>
                                        <input type="submit" class="btn btn-outline-secondary lead col-12" value="INSERT NEW TASK">
                                    </form>

                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <%- include('templates/footer') -%>

        <script>
            const btnEliminar = (idEliminar) => {

                $.post('/delete/' + idEliminar, {
                    id: idEliminar
                }, (data) => {

                    if (data == 'eliminado') {
                        Swal.fire(
                            'Perfecto!',
                            `La tarea se ha eliminado correctamente`,
                            'success'
                        ).then((result) => {
                            location.href = '/';
                        })
                    } else {
                        Swal.fire(
                            'Error!',
                            `Ha ocurrido un error ${data}`,
                            'error'
                        )
                    }

                })

            }
        </script>